/* основной цвет текста: #000000 */
/* вспомагательный цвет текста: #ffffff; */
/* цвет акцента #03E0EB */

:root {
  --primary-text-color: #000000;
  --secondary-text-color: #ffffff;
  --accent-color: #03e0eb;
}

@font-face {
  font-family: Proxima Nova;
  src: url(/fonts/ProximaNova-Regular.ttf);
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
}

body {
  color: var(--primary-text-color);
  width: 1920px;
  margin: 0 auto;

  font-family: Proxima Nova, sans-serif;
}

h1,
h2 {
  font-family: oswald, sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  font-family: inherit;
}

.conteiner {
  /* display: flex; */
  width: 1140px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

/* ======header======= */
.header {
  background-image: url(../images/header/header-bg.png);
  background-repeat: no-repeat;
  background-position: right top;
}

.header .conteiner {
  padding-top: 31px;
  /* padding-bottom: 164px; */
}

.header .logo {
  display: inline-block;
  vertical-align: middle;
  margin-right: 143px;
}

.header .navigation {
  display: inline-block;
}

.header li {
  display: inline;
  color: #ffffff;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
}

.header .link:not(:last-child) {
  margin-right: 25px;
}

.header button {
  color: #ffffff;
  outline: none;
  display: inline-block;
  padding: 6px 14px;
  min-width: 135px;
  height: 35px;
  border: 1px var(--secondary-text-color) solid;
  border-radius: 10px;
  margin-left: auto;

  background: transparent;

  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
}

/* hero */
.hero .conteiner {
  display: block;
  padding-top: 163.75px;
  padding-bottom: 188px;
}

.hero .title {
  margin-bottom: 21px;

  font-family: Oswald;
  font-style: normal;
  font-weight: 300;
  font-size: 60px;
  line-height: 1.25;
  text-transform: uppercase;
}

.hero .title::after {
  content: "";
  display: block;
  margin-top: 19px;
  width: 95px;
  height: 4px;

  background: linear-gradient(180deg, #955af5 0%, #302dff 100%);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.hero .text-bolt {
  font-weight: 700;
}

.hero p {
  margin-bottom: 30px;

  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.21;
}

.hero .text-bolt-uppercase {
  font-weight: 600;
  text-transform: uppercase;
}

.hero button {
  outline: none;
  color: var(--secondary-text-color);
  min-width: 570px;
  height: 60px;
  background: linear-gradient(180deg, var(--accent-color) 0%, #00c4ce 100%);

  border: var(--accent-color);
  border-radius: 10px;

  color: var(--secondary-text-color);

  font-weight: 600;
  font-size: 24px;
  line-height: 1.21;
}
.hero .hero-button:hover,
.hero .hero-button:focus {
  cursor: pointer;
}

.hero .hero-button:active {
  outline: none;
  cursor: pointer;
  background: linear-gradient(180deg, #00c4ce 100%, var(--accent-color) 0%);
  box-shadow: 0px 4px 20px rgba(1, 204, 214, 0.5);
}

/* results */

.results .background-result-conteiner {
  position: relative;
  width: 1920px;
  margin: 0 auto;
}

.results .background-results {
  position: absolute;
  top: 0;
  left: 0;
}
.results .title-results-conteiner {
  position: relative;
  width: 431px;
  height: 104px;
  margin-bottom: 17px;
}
.results .title-results-conteiner::before {
  content: "";
  position: absolute;
  top: -11px;
  left: -29px;
  width: 79px;
  height: 27px;
  display: block;
  border: 1px solid #ff5b1e;
  border-right: none;
  border-bottom: none;
}

.results .conteiner {
  padding-top: 30px;
  padding-bottom: 146px;
  display: block;
}

.results .title {
  font-weight: 300;
  font-size: 35px;
  line-height: 1.49;
  text-transform: uppercase;
}

.results .text-bolt {
  font-weight: 700;
}
.results .text {
  margin-bottom: 27px;
  max-width: 486px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
}

.results .hero-button-conteiner {
  width: 1082px;
  height: 60px;
  padding: 4px;
  background-color: #ffffff;

  border: 2px solid #03e0eb;
  box-sizing: border-box;
  border-radius: 10px;
}

.results .button {
  background-color: #ffffff;
  min-width: 1070px;
  height: 48px;
  border: 1px dashed var(--accent-color);
  border-radius: 10px;
  outline: none;

  color: var(--primary-text-color);

  font-weight: 600;
  font-size: 24px;
  line-height: 1.21px;
}

.results svg {
  margin-left: 33.5px;
}

/* =========main======== */

/* advantages */
.background-main {
  background-image: url(../images/main/bg.png);
  background-repeat: no-repeat;
  background-position: top;
}

.advantages .conteiner {
  position: relative;
  padding-bottom: 136px;
  display: block;
  background-image: url(../images/main/advantages/bg.png);
  background-repeat: no-repeat;
  background-position: center 180px;
}

.advantages .item {
  position: relative;
  margin: 0 auto;
  width: 180px;
  height: 180px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 150px;
}

.area-first .row {
  display: inline-block;
  vertical-align: top;
}
.area-first .row:first-child {
  margin-left: 12px;
}

.area-first .row:not(:last-child) {
  margin-right: 252px;
}

.area-second .row {
  display: inline-block;
  vertical-align: top;
}
.area-second .row:not(:last-child) {
  margin-right: 252px;
}

.area-second {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.advantages .title-advantages-conteiner {
  position: relative;
  width: 937px;
  height: 73px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 44px;
  padding: 10px 0;
}

.advantages .title-advantages-conteiner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 79px;
  height: 27px;
  display: block;
  border: 1px solid #ff5b1e;
  border-right: none;
  border-bottom: none;
}
.advantages .title-advantages-conteiner::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 79px;
  height: 27px;
  display: block;
  border: 1px solid #ff5b1e;
  border-left: none;
  border-top: none;
}

.advantages .title {
  margin-bottom: 44.06px;
  font-family: Oswald;
  font-weight: 300;
  font-size: 35px;
  line-height: 1.49;

  text-align: center;
  text-transform: uppercase;
}

.advantages .text-bolt {
  font-weight: 700;
}

.advantages .text {
  margin-top: 12.94px;
  display: inline-block;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
}

.advantages .border-shadow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 180px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 150px;
}

.advantages .border {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.advantages img {
  display: block;
  margin: 46.5px auto;
}

.advantages .border {
  width: 160px;
  height: 160px;
  border: 1px dashed #ff5b1e;
  border-radius: 50%;
}

.advantages .first-row {
  display: flex;
}

.first-row .text:not(:last-child) {
  margin-right: 252px;
}

/* programm */

.programm .conteiner {
  position: relative;
  height: 973px;
  display: block;
  padding-bottom: 59px;
}

.programm .background-programm {
  position: absolute;
  top: 180px;
  right: -300px;
}

.programm .conteiner-circle {
  position: relative;
  width: 1140px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}
.programm .circle {
  margin: 0 auto;
  width: 520px;
  height: 520px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-image: url(../images/main/hard-cover-book-mockup.png);
  background-position: center;
  background-repeat: no-repeat;
}

.circle .item-circle {
  display: block;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.22;
  color: #ffffff;
  height: 65px;
  width: 65px;
  border-radius: 50%;
  background-color: #19234c;
}

.circle .item-circle:hover {
  background-color: var(--accent-color);
  cursor: pointer;
}

.circle .number1 {
  display: block;
  padding: 10px 25px;
}

.circle .number {
  display: block;
  padding: 11px 22px;
}

.circle .item-circle:nth-child(1) {
  position: absolute;
  top: -30px;
  left: 530px;
}

.circle .item-circle:nth-child(2) {
  position: absolute;
  top: 35px;
  right: 360px;
}

.circle .item-circle:nth-child(3) {
  position: absolute;
  top: 190px;
  right: 280px;
}

.circle .item-circle:nth-child(4) {
  position: absolute;
  bottom: 100px;
  right: 310px;
}

.circle .item-circle:nth-child(5) {
  position: absolute;
  bottom: -15px;
  right: 445px;
}

.circle .item-circle:nth-child(6) {
  position: absolute;
  bottom: -15px;
  left: 445px;
}
.circle .item-circle:nth-child(7) {
  position: absolute;
  bottom: 100px;
  left: 310px;
}

.circle .item-circle:nth-child(8) {
  position: absolute;
  top: 190px;
  left: 280px;
}

.circle .item-circle:nth-child(9) {
  position: absolute;
  top: 35px;
  left: 360px;
}

.programm .text-circle {
  text-align: center;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.21;
}

.programm .text-accent {
  color: var(--accent-color);
}

.programm .text-circle:nth-child(10) {
  position: absolute;
  top: -120px;
  left: 405px;
}

.programm .text-circle:nth-child(11) {
  text-align: start;
  position: absolute;
  top: 20px;
  right: 95px;
}

.programm .text-circle:nth-child(12) {
  text-align: start;
  position: absolute;
  top: 180px;
  right: 10px;
}

.programm .text-circle:nth-child(13) {
  text-align: start;
  position: absolute;
  bottom: 90px;
  right: 35px;
}

.programm .text-circle:nth-child(14) {
  text-align: start;
  position: absolute;
  bottom: -75px;
  right: 230px;
}

.programm .text-circle:nth-child(15) {
  text-align: end;
  position: absolute;
  bottom: -100px;
  left: 360px;
}

.programm .text-circle:nth-child(16) {
  text-align: end;
  position: absolute;
  bottom: 90px;
  left: 40px;
}

.programm .text-circle:nth-child(17) {
  text-align: end;
  position: absolute;
  bottom: 250px;
  left: 50px;
}

.programm .text-circle:nth-child(18) {
  text-align: end;
  position: absolute;
  top: 40px;
  left: 210px;
}

.title-programm-conteiner {
  position: relative;
  width: 420px;
  height: 73px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 159px;
  padding: 10px 0;
}

.programm .title-programm-conteiner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 79px;
  height: 27px;
  display: block;
  border: 1px solid #ff5b1e;
  border-right: none;
  border-bottom: none;
}

.programm .title-programm-conteiner::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 79px;
  height: 27px;
  display: block;
  border: 1px solid #ff5b1e;
  border-left: none;
  border-top: none;
}

.programm .title {
  font-family: Oswald;
  font-weight: 300;
  font-size: 35px;
  line-height: 1.48;

  text-align: center;
  text-transform: uppercase;
}

.programm .text-bolt {
  font-weight: 700;
}

.programm button {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, 50%);
  outline: none;
  color: var(--secondary-text-color);
  min-width: 540px;
  height: 60px;
  background: linear-gradient(180deg, var(--accent-color) 0%, #00c4ce 100%);

  border: var(--accent-color);
  border-radius: 10px;

  color: var(--secondary-text-color);

  font-weight: 600;
  font-size: 24px;
  line-height: 1.21;
}

.programm .programm-button:hover,
.programm .programm-button:focus {
  cursor: pointer;
}

.programm .programm-button:active {
  outline: none;
  cursor: pointer;
  box-shadow: 0px 4px 20px rgba(1, 204, 214, 0.5);
  background: linear-gradient(180deg, #00c4ce 100%, var(--accent-color) 0%);
}

/* treiner */
.treiner {
  text-align: center;
}

.treiner .conteiner {
  padding-top: 180px;
  padding-bottom: 165px;
  width: 1155px;
  display: inline-block;
}

.treiner .right-treiner-conteiner {
  position: relative;
  width: 662px;
  height: 709px;
}

.treiner .gallery {
  left: -100px;
  position: relative;
  display: inline-block;
}

.gallery .image-treiner {
  display: inline-block;
}

.gallery .image-treiner275 {
  display: block;
}

.gallery img {
  display: block;
}

.foto + .foto {
  margin-top: 30px;
}

.image-treiner + .image-treiner {
  margin-left: 30px;
}

.treiner .right-side {
  position: relative;
  left: -30px;
  display: inline-block;
  width: 490px;
  text-align: start;
}

.treiner .background-right-side {
  position: absolute;
  top: -70px;
  left: -105px;
  z-index: -1;
}

.treiner .title {
  margin-bottom: 11px;

  font-weight: 300;
  font-size: 35px;
  line-height: 1.49;
  text-transform: uppercase;
}

.treiner .text-bolt {
  font-weight: 700;
}

.treiner .treiner-description {
  margin-bottom: 11px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.39;
}

.treiner .text-treiner {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
}

.text-treiner + .text-treiner {
  margin-top: 11px;
}

.treiner button {
  display: block;
  margin: 0 auto;
  margin-top: 21px;

  outline: none;
  color: var(--secondary-text-color);
  min-width: 519px;
  height: 60px;
  background: linear-gradient(180deg, var(--accent-color) 0%, #00c4ce 100%);

  border: var(--accent-color);
  border-radius: 10px;

  color: var(--secondary-text-color);

  font-weight: 600;
  font-size: 24px;
  line-height: 1.21;
}
.treiner button:hover,
.treiner button:focus {
  cursor: pointer;
}

.treiner button:active {
  outline: none;
  cursor: pointer;
  box-shadow: 0px 4px 20px rgba(1, 204, 214, 0.5);
  background: linear-gradient(180deg, #00c4ce 100%, var(--accent-color) 0%);
}

/* reviews */
.reviews {
  position: relative;
}

.reviews .background-item-top {
  position: absolute;
  top: 50px;
  right: -300px;
}

.reviews .background-item-botton {
  position: absolute;
  top: 410px;
  left: -300px;
}

.reviews .conteiner {
  position: relative;
  top: 0;
  left: 0;

  right: 150px;
  padding-bottom: 44px;
  display: block;
}

.reviews .list-reviews {
  display: inline-block;
}
.reviews img {
  display: block;
  margin-bottom: 7px;
}

.title-review-conteiner {
  position: relative;
  width: 408px;
  height: 73px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 33px;
  text-align: center;
  padding: 10px 0;
}

.reviews .title-review-conteiner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 79px;
  height: 27px;
  display: block;
  border: 1px solid #ff5b1e;
  border-right: none;
  border-bottom: none;
}

.reviews .title-review-conteiner::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 79px;
  height: 27px;
  display: block;
  border: 1px solid #ff5b1e;
  border-left: none;
  border-top: none;
}

.title-review-conteiner > .title {
  width: 408px;
  height: 73px;
  margin-right: 247px;
}

.reviews .title {
  display: inline-block;
  vertical-align: middle;

  font-family: Oswald;
  font-weight: 300;
  font-size: 35px;
  line-height: 1.49;

  text-transform: uppercase;
}

.reviews .text-bolt {
  font-weight: 700;
}
.reviews .button {
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 20px;
  padding-right: 15px;
}

.reviews button {
  display: inline-block;

  width: 35px;
  height: 35px;
  border: 1px solid #000000;
  border-radius: 50%;
  outline: none;

  background-color: transparent;
}
.reviews button:not(:first-child) {
  margin-left: 25px;
}

.reviews button:hover {
  border-color: var(--accent-color);
  cursor: pointer;
}

.reviews button:hover svg {
  fill: var(--accent-color);
}

.reviews .icon {
  width: 15px;
  height: 25px;
}

.reviews svg {
  display: block;
  margin: 0 auto;
  fill: #000000;
  width: 21.12px;
  height: 21.12px;
}

.reviews .social-item {
  display: block;
}
.reviews .social-list {
  display: inline-block;
}
.reviews .info {
  display: inline-block;
  padding: 36px 40px 34px 23px;
  width: 540px;
  height: 248px;
  background-color: #ffffff;
  border: 1px solid #dddddd;

  border-radius: 10px;

  height: 100%;
}

.reviews .left-review {
  float: left;
  text-align: center;
}
.reviews .review {
  margin-left: 38px;
  display: inline-block;
  width: 325px;
}

.reviews .info:not(:last-child) {
  margin-right: 25px;
}

.review .name {
  margin-bottom: 6px;

  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
}

.review .text-review {
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
}

.list-reviews .social-list:not(:last-child) {
  margin-right: 4.8px;
}

.footer .date {
  color: #b5b5b5;
}

/* footer */

/* registration */

.registration .conteiner {
  display: block;
  padding-bottom: 74px;
}

.registration .title {
  margin-bottom: 24px;
  color: #ffffff;

  font-family: Oswald;
  font-weight: 300;
  font-size: 35px;
  line-height: 1.49;
  text-transform: uppercase;
  text-align: center;
}

.registration .text-bolt {
  font-weight: 700;
}

.registration .social-help {
  color: #ffffff;
  margin-bottom: 54px;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.21;
  text-align: center;
}

.registration .messenger {
  display: flex;
  justify-content: center;
}

.messenger button {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-left: 23px;
  min-width: 331px;
  height: 60px;
  border-radius: 10px;
  outline: none;
  border: transparent;

  color: #ffffff;
}

.messenger button:hover,
.messenger button:focus {
  filter: drop-shadow(0px 0px 20px #03e0eb);
  cursor: pointer;
}

.messenger .telegram {
  background-color: #309fdc;
}
.messenger .viber {
  background-color: #7b519d;
}

.messenger .facebook {
  background-color: #4173cd;
}

.registration .button:not(:last-child) {
  margin-right: 26px;
}

.button div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
}

.footer {
  background-image: url(../images/footer/bg.png);
  background-repeat: no-repeat;
  background-position: center -530px;
}

.footer-navigation .conteiner {
  padding-top: 43px;
  padding-bottom: 34px;
  border-top: 1px solid rgba(221, 221, 221, 0.5);
  border-bottom: 1px solid rgba(221, 221, 221, 0.5);
}

.footer-navigation .logo {
  display: inline-block;
  vertical-align: top;
  fill: #ffffff;
  margin-right: 137px;
}

.footer-navigation .item-site {
  display: inline-block;
  margin-right: 78px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
}

.footer-navigation .link-site:not(:last-child) {
  margin-bottom: 15px;
}

.footer-navigation .item-programm {
  display: inline-block;
  vertical-align: top;
  width: 216px;
  margin-right: 87px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
}

.footer-navigation .link-programm:not(:last-child) {
  margin-bottom: 15px;
}

.footer-address {
  display: inline-block;
  vertical-align: top;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.44;
}
.footer-address > * {
  display: block;
}

.footer-navigation a {
  color: #ffffff;
}
.footer-address .icon-flag {
  margin-right: 10px;
}

.footer-address h3 {
  color: #ffffff;
}

.footer-navigation .social-item {
  display: flex;
  margin-top: 13px;
}

.footer-navigation .social-list:not(:last-child) {
  display: flex;
  margin-right: 11.55px;
}
.social-item a:hover,
.social-item a:focus {
  filter: drop-shadow(0px 4px 20px #03e0eb);
}

.footer-navigation .copyright {
  display: block;
  text-align: center;
  color: #ffffff;
  padding-top: 28px;
  padding-bottom: 26px;
  justify-content: center;
}
